/* ----- google fonts ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0 10px;
}

.container {
  width: 100%;
  max-width: 480px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff0e;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #ffffff4d;
}

.container h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.captcha-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.captcha-output {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background: #ffffff0e;
  outline: none;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
}

input::placeholder {
  color: #9e9e9e;
  opacity: 1;
  /* Firefox */
}

input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #9e9e9e;
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s;
}


button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.refresh-button {
  background: #4eb8e2;
}

.refresh-button:hover {
  background: #3d99bd;
}

.check-button {
  background: #9075f0;
  display: inline-block;
  margin-bottom: 15px;
}

.check-button:hover {
  background: #7155d4;

}

.remaining-attempts {
  color: #fff;
}

.result {
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}